<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="layouts/taskLayout.html">
<head>
    <meta charset="UTF-8">
    <title>Tasks</title>
    <link href="/css/bootstrap.css" type="text/css" rel="stylesheet">
</head>
<body>
<div layout:fragment="firstFragment">
    <button class="btn btn-primary"> + Add New Task</button>
</div>

<div layout:fragment="centrFragment">
    <form th:action="@{'/saveTask'}" method="post">
        <input class="form-control" type="hidden" name="id" th:value="${task.getId()}">
        <label class="form-label">TASK NAME:</label>
        <input class="form-control" type="text" name="taskName" th:value="${task.getName()}">
        <br>
        <label class="form-label">TASK DESCRIPTION:</label>
        <input class="form-control" type="text" name="description" th:value="${task.getName()}">
        <br>
        <label class="form-label">DEADLINE DATE:</label>
        <input class="form-control" type="date" name="date" th:value="${task.getDeadlineDate()}">
        <br>
        <label class="form-label">COMPLETED:</label>
        <select class="form-select" name="complete">
            <option th:selected="${task.isCompleted()}" th:text="YES" value="true"></option>
            <option th:selected="${!task.isCompleted()}" th:text="NO" value="false"></option>
        </select>
        <br>
        <button class="btn btn-success" type="submit">SAVE</button>
    </form>
    <br>
    <form th:action="@{'/deleteTask'}" method="post">
        <input type="hidden" name="_method" value="DELETE">
        <input class="form-control" type="hidden" name="id" th:value="${task.getId()}">
        <button class="btn btn-danger">DELETE</button>
    </form>

</div>
<script src="/js/bootstrap.bundle.js" type="text/javascript"></script>
</body>
</html>